<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NoteWorthy</title>
    <link rel="shortcut icon" href="../public/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/landing.css" type="text/css">
    <!-- <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</head>
<body class="">
    <div class="container d-flex flex-column align-items-center justify-content-between" style="height: 100vh;">
        <div class="row ml-1 mt-5 w-100">
            <div class="col-lg-4 col-md-3 col-sm-12" id="logoWrap">
                <img class="" id="logo" src="./public/img/Group 54.png">
            </div>
            <div class="col-lg-5 col-md-3 d-flex justify-content-center">
                <p class="mb-0 bg-info rounded-3 p-3 text-black shadow-lg">${errorMessage}</p>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3" id="logInCont">
                <div class="btn text-white hoverFX" id="logInBtn" data-bs-toggle="modal" data-bs-target="#loginModal"><span>LOG&nbsp;IN</span></div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4" id="signUpCont">
                <div id="signUpBtn" class="text-bg-info hoverFX rounded-pill btn" data-bs-toggle="modal" data-bs-target="#signupModal"><span class="px-2">SIGN UP</span></div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center text-white">
                <h1>
                    Clear the Mind, Ponder <br>Your Thoughts.
                </h1>
            </div>
        </div>
        <div class="row">
            <h3 class="text-white fw-light"><i>Your journaling app of choice.</i></h3>
        </div> 
        <div class="row mt-2">
            <div id="signUpBtn" class="mt-3 text-bg-info rounded-pill btn hoverFX" data-bs-toggle="modal" data-bs-target="#signupModal"><span class="px-2" >SIGN UP</span></div>
        </div>
        <div class="row mt-3" id="logInBtnTwoWrap">
            <div class="btn text-white hoverFX" id="logInBtnTwo" data-bs-toggle="modal" data-bs-target="#loginModal"><span>LOGIN</span></div>
        </div>
        <div class="row scrollImg" id="desktopSS">
            <img src="./public/img/Desktop - 2.png">
        </div>
        <div class="row mt-4 scrollImg" id="mobileSS">
            <img src="./public/img/iPhone 14 - 17.png">
        </div>  
    </div>

    <!-- MODAL -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog custom-modal-dialog">
            <div class="modal-content bg-light">
              <div class="d-flex flex-column"> 
            <div class="modal-header row border-0">
                <div class="col-4"></div>
                <div class="col-4">
                    <h1 class="modal-title fw-bold fs-2" id="logInHeader">LOG&nbsp;IN</h1>
                </div>
                <div class="col-4 text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body row mx-2">
                <form action="/login" method="post" id="logInForm">
                    <div class="row rounded-3 mb-3 bg-white" id="usernameWrap">
                        <div class="col-md-3 col-4" style="border-right: solid; padding-left: 5px;">
                            <label for="username">Username:</label>
                        </div>
                        <div class="col-md-9 col-8" >
                            <input type="text" id="username" name="username" required>
                        </div>
                    </div>
                    <div class="row rounded-3 mb-3 bg-white" id="passwordWrap">
                        <div class="col-md-3 col-4" style="border-right: solid; padding-left: 5px;">
                            <label for="password">Password:</label>
                        </div>
                        <div class="col-md-9 col-8">
                            <input type="password" id="password" name="password" required>
                    </div>
                </div>
                    <div class="row mt-4">
                        <div class="col">                   
                            <button id="loginSubBtn" type="submit" class="btn btn-info rounded-pill submitBtn hoverFX">LOG&nbsp;IN</button>
                            <div id="loginSpinner" class="spinner-border z-3 text-primary d-none" role="status">
                                <span class="visually-hidden">Loading...</span>
                              </div>
                        </div>
                        <div class="col text-end">                   
                            <a class="btn hoverFX" data-bs-toggle="modal" data-bs-target="#signupModal"><b><u>SIGN UP</u></b></a>
                        </div>  
                    </div>
                  </form>

          </div>
        </div>
    </div>
      </div>
    </div>

      <div class="modal fade " id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content bg-light">
              <div class="d-flex flex-column"> 
            <div class="modal-header row border-0">
                <div class="col-4"></div>
                <div class="col-4">
                    <h1 class="modal-title fw-bold fs-2" id="logInHeader">SIGN&nbsp;UP</h1>
                </div>
                <div class="col-4 text-end">
                    <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body row mx-2">
                <form action="/" method="post" id="signUpForm">
                    <div class="row rounded-3 mb-3 bg-white" id="usernameWrap">
                        <div class="col-md-3 col-4" style="border-right: solid;">
                            <label for="username">Username:</label>
                        </div>
                        <div class="col-md-9 col-8">
                            <input type="text" id="username" name="username" required>
                        </div>
                    </div>
                    <div class="row rounded-3 mb-3 bg-white" id="passwordWrap">
                        <div class="col-md-3 col-4" style="border-right: solid;">
                            <label for="password">Password:</label>
                        </div>
                        <div class="col-md-9 col-8">
                            <input type="password" id="password" name="password" required>
                    </div>
                </div>
                    <div class="row mt-4">
                        <div class="col">
                            <div id="signupSpinner" class="spinner-border z-3 text-primary d-none" role="status">
                                <span class="visually-hidden">Loading...</span>
                              </div>                   
                            <button id="signupSubBtn" type="submit" class="btn btn-info rounded-pill submitBtn hoverFX">SIGN&nbsp;UP</button>
                        </div>
                        <div class="col text-end">                   
                            <a class="btn hoverFX" data-bs-toggle="modal" data-bs-target="#loginModal"><b><u>LOG&nbsp;IN</u></b></a>
                        </div>  
                    </div>
                  </form>

          </div>
        </div>
    </div>
      </div>
<script src="../public/js/landing.js"></script>

</body>
</html>

