<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width='device-width', initial-scale=1.0" />
 <title>${main.title} | NoteWorthy</title>
      <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script
      src="../node_modules/tinymce/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <link rel="shortcut icon" href="../public/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/note.css" type="text/css">
      <script src="../public/js/tiny-mce-plugin.js"></script>

  </head>
  <body>
    <div class="custom-editor-wrapper">
      <div class="d-flex">
        <div class="topbar">Last Updated <span>${main.updatedAt}</span></div>
        <div class="btn-group d-flex">
          <button>Save Entry</button>
          <button>Delete</button>
        </div>
      </div>
      <form action="">
        <textarea name="title" id="title">${main.title}</textarea>
        <textarea id="body">${main.body}</textarea>
      </form>
    </div>
  </body>
</html>
