<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width='device-width', initial-scale=1.0" />
    <title>NoteWorthy</title>
    <link
      rel="shortcut icon"
      href="../public/img/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../public/css/notes.css" type="text/css" />
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
  </head>

  <body >
      <div class="loadingOverlay d-none position-fixed w-100 h-100 bg-dark opacity-50 z-3 align-items-center justify-content-center">
        <div class="spinner-border z-3 text-primary " role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    <div id="header" class="d-flex w-100 ">
      <div class="row w-100 d-flex z-3 align-content-center shadowHover">

        <div class="col w-100 mx-5">
          <img class="img-fluid" id="logo" src="../public/img/Group 54.png" />
        </div>
        <div
          class="col w-100 justify-content-end d-flex gap-5 me-5 d-none d-lg-flex"
          id="searchOptionsBtnDesktop"
        >
          <button
            type="button"
            class="modalBtn" id=""
            data-bs-toggle="offcanvas" data-bs-target="#categories" aria-controls="categories"
          >
            <img src="../public/img/desktopSearch.svg" alt="search">
          </button>
          <button
            type="button"
            class="modalBtn btn"
            data-bs-toggle="modal"
            data-bs-target="#options"
          >
            <img src="../public/img/cogDesktop.svg">
          </button>
        </div>
      </div>
    </div>
    <div class="container">
    <div class="row w-100">
      <div class="col m-4">
        <img
          class="${rotation}"
          id="filterByDate"
          src="/public/img/🦆 icon _sort descending_.svg"
        />
        <span
          class="fst-italic fs-6 fw-bolder text-decoration-underline triggersLoadingScreen"
          id="filterByDateText"
          style="
            color: rgba(51, 51, 51, 0.7);
            font-family: Poppins;
            cursor: pointer;
          "
          >${sortMessage || "Sort By Date (Descending)"}</span
        >
      </div>
    </div>
    ${allNotes.map(note => `

    <a
      href="/notes/${note.id}?cat=${note.category}"
      class="text-body text-decoration-none noteLink triggersLoadingScreen"
    >
      <div class="content d-flex flex-column mx-5 mb-4">
        <div
          class="card-wrap p-2 bg-light rounded-4"
          style="filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.5))"
        >
          <div class="row d-flex flex-column" style="width: 100%">
            <div class="col d-flex">
              <span class="fw-bold fs-4" id="dayOfMonth"
                >${ new Date(note.createdAt).toLocaleDateString("en-US", { day:
                "numeric", }).toUpperCase() }
              </span>
              <span class="fw-light lh-lg fs-6 align-self-end" id="month"
                >${ new Date(note.createdAt).toLocaleDateString("en-US", {
                month: "short", }).toUpperCase() }
              </span>
              <span class="tag py-2 px-3 rounded-pill text-white ms-auto">
                <span class="category"
                >${note.category.toUpperCase()}</span
              >
              </span>
              
            </div>
            <div class="col">
              <span class="fst-italic opacity-50" id="lastUpdated"
                >${ new Date(note.createdAt).toLocaleDateString("en-US", {
                month: "short", }).toUpperCase() } ${ new
                Date(note.updatedAt).toLocaleDateString("en-US", { day:
                "numeric", }).toUpperCase() }</span><span class="fst-normal"> ${ new
                  Date(note.updatedAt).toLocaleTimeString("en-US").toUpperCase() }</span><span class="fst-italic"> last updated</span
              >
            </div>
            <div class="col">
              <span
                class="title fw-normal fst-normal fs-6 fw-bold"
                style="color: #333; font-family: Poppins"
              >
                ${note.title.replace(/(<([^>]+)>)/ig, '')}
              </span>
            </div>
            <div class="col">
              <span class="cardBody fw-light overflow-hidden">
                ${note.body.replace(/(<([^>]+)>)/ig, '').slice(0, 50)}...
              </span>
            </div>
          </div>
        </div>
      </div>
    </a>
    `).join('')}
  </div>
    <form class="addBtnDesktopForm d-none d-lg-block shadowHover  " method="POST">
      <button type="submit" id="addBtnWrap" class="bg-transparent border-0 addBtnBtn triggersLoadingScreen">
        <div id="addBtnDesktopWrap">
          <img id="addBtnDesktop" class="addBtn" src="../public/img/addBtnDesktop.svg" alt="Add Button">
        </div>
      </button>
    </form>
    <div class="d-flex d-lg-none justify-content-center position-fixed start-50 translate-middle-x z-3 bottom-0 shadowHover" id="mobileButtonsContainer">
      <div class="row d-flex align-items-center w-100">
        <div class="col-4 d-flex justify-content-center">
          <button
              type="button"
              class="modalBtn"
              data-bs-toggle="offcanvas" data-bs-target="#categories" aria-controls="categories"
            >
              <img src="../public/img/searchMobile.svg" alt="search">
            </button>
        </div> 
        <div class="col-4 d-flex justify-content-center">
        <form method="POST" class="" id="mobileButtons">
          <button type="submit" id="addBtnWrapMobile" class="bg-transparent border-0 addBtnBtn triggersLoadingScreen">
          <div id="addBtnDesktopWrap">
            <img id="addBtnDesktop" src="../public/img/addBtnDesktop.svg" alt="Add Button">
          </div>
        </button>
      </form>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <button
              type="button"
              class="modalBtn btn"
              data-bs-toggle="modal"
              data-bs-target="#options"
            >
              <img src="../public/img/cogWheelBlack.svg">
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- MODALS -->

    <div
      class="modal fade"
      id="options"
      tabindex="-1"
      aria-labelledby="options"
      aria-hidden="true"
    >
      <div class="modal-dialog rounded-4">
        <div class="modal-content bg-light" id="optionsModal">
          <button
            type="button"
            class="btn-close d-none"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
          <div class="modal-body d-flex flex-column">
            <div class="row m-1 justify-content-between">
              <div class="col d-flex align-content-center">
                <span class="fs-6 fw-bolder">Auto&nbsp;Save</span>
              </div>
              <div class="col text-end">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div class="row m-1">
              <div class="col d-flex align-content-center">
                <span class="fs-6 fw-bolder">Color&nbsp;Mode</span>
              </div>
              <div class="col text-end">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="sliderCS round"></span>
                </label>
              </div>
            </div>
            <div class="row d-flex m-1 mt-4">
              <form action="/logout" method="post" id="logOutForm">
                <button type="submit" class="modalBtn w-100 logoutBtn triggersLoadingScreen">
                  <div class="col btn btn-danger w-100">
                    <span class="fw-bolder">LOG&nbsp;OUT</span>
                  </div>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SEARCH MODAL  -->
    <div
      class="offcanvas category offcanvas-bottom rounded-top-3 d-flex justify-content-center bg-light mx-auto"
      tabindex="-1"
      id="categories"
      aria-labelledby="offcanvasBottomLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-center w-100" id="offcanvasBottomLabel">
          Search&nbsp;By&nbsp;Category
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div
        class="offcanvas-body small w-auto mx-4 d-flex bg-white rounded-top-4"
        style="box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25)"
      >
        <div class="d-flex row">
          ${removeFilterTag || ""}
          ${allCategories.map(note => `
          <div class="col mb-3">
            <a href="/notes?category=${note.category}">
              <span class="tag py-2 px-3 rounded-pill position-relative text-white ms-auto">
                <span class="category"
                >${note.category.toUpperCase()}</span
              >
              <span>(${note.dataValues.count})</span>
              </span>
              
            </a>
          </div>
          `).join('')}
        </div>
      </div>
    </div>
    <script src="../public/js/notes.js"></script>
  </body>
</html>
