
// include default variable overrides
$info: #FDB399;
$light: #FBF8F0;


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// @import "./../node_modules/bootstrap/scss/bootstrap.scss";


// additional css here
body {
    z-index: 0;
    background-image: url("../img/unsplash_fVUl6kzIvLg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, rgba(251, 248, 240, 0.42) 61.46%, rgba(253, 179, 153, 0.42) 85.94%), rgba(85, 56, 56, 0.20);
        z-index: 1;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #553838;
        opacity: 20%;
        z-index: 2;
    }
}
.hoverFX{
    transition: 0.2s all ease-in-out;
    position: relative;
    bottom: 0px;
}
.hoverFX:hover {
    cursor: pointer;
    filter: drop-shadow(0px 2px 20px #fdb49958) !important;
    bottom: 5px;
}
div {
    z-index: 5;
}
#logInBtn:hover {
    color: #ffffff93;
}
#logInBtn {
    text-shadow: 0px 3px 15px rgba(51, 51, 51, 0.254);
}

#signUpBtn, form button {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
h1 {
    font-size: 64px;
    text-align: center;
}
h3 {
    font-size: 20px;
    text-align: center;
}

#loginModal{
    font-family: 'Poppins', sans-serif;
}
#usernameWrap {
    border: solid;
}
#passwordWrap {
    border: solid;
}
#logInHeader {
    font-size: 53px;
}
input {
border: none;
width: 100%;
}
input:focus {
    outline: none;
}
::-webkit-scrollbar {
    display: none;
}
.scrollImg::-webkit-scrollbar {
    display: none;
}
.scrollImg {
    height: 290px;
    overflow-y: scroll;
}
@media screen and (min-width: 769px) {
#logo {
    width: 100%;
    max-width: 14rem;
}

#logInBtnTwoWrap {
    display: none;
}
#mobileSS {
    display: none;
}
#modo {
    margin-top: 133px;
}
}
@media screen and (max-width: 768px) {
    #logInCont {
        display: none;
    }
    #signUpCont {
        display: none;
    }
    #logo {
        width: 100%;
    }
    h1 {
        font-size: 28px;
    }
    h3 {
        font-size: 16px;
    }
    #desktopSS {
        display: none;
    }
    #modo {
        margin-top: 70px;
    }
}
@media screen and (max-width: 460px) {
    label {
        font-size: 12px;
    }
    #loginHeader {
        font-size: 24px;
    }
}