$info: #FDB399;
$light: #FBF8F0;



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  width: 100%;
    background: linear-gradient(180deg, #FFE8E0 0%, rgba(255, 255, 255, 0.00) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
#mobileButtonsContainer {
  min-width: 300px;
  width: 100%;

}
#header {
    z-index: 0;
    height: 164px;
    width: 100%;
    background-image: url('../img/unsplash_fVUl6kzIvLg.jpg');
    background-size: cover;
    position: relative;
    background-position: center;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(253, 179, 153, 0.30);
        z-index: 1;
    }
}
#logo{
    min-width: 220px;
    width: 100%;
}
svg:hover {
    cursor: pointer;
}
 
.tag {
    font-size: 12px;
    text-wrap: nowrap;
}
#addBtnWrap {
    position: fixed;
    right: 66px;
    bottom: 108px;
}
#addBtnWrapMobile {

}
.addBtn {
    width: 100px;
    height: 100px;
}
.cardBody {
    height: 40px;
}
.content{
    cursor: pointer;
}
.modalBtn {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;
}
#optionsModal {
    height: 200px;
    flex-shrink: 0;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E25959;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .sliderCS {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FDB399;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #333;
    // background: url("../img/Style=Filled.svg");
    -webkit-transition: .4s;
    transition: .4s;
  }
  .sliderCS:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: url("../img/Style=Filled.svg");
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider{
    background-color: #76da71;
  }
  input:checked + .sliderCS{
    background-color: #303F4B;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #76da71;
  }
  input:focus + .sliderCS {
    box-shadow: 0 0 1px #303F4B;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  input:checked + .sliderCS:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background: url("../img/moon.svg");
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .sliderCS.round {
    border-radius: 34px;
  }
  
  .sliderCS.round:before {
    border-radius: 50%;
  }
#offcanvasBottomLabel {
  color: #333;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.category {
  width: 60%;
}
a:hover {
cursor: pointer;
}
a {
  text-decoration: none;
}
#filterByDate {
  transition: transform 0.3s ease-in-out;
}
.rotated-icon {
  transform: rotate(180deg);
}
.shadowHover button img  {
  transition: 0.2s all ease-in-out;
}
.shadowHover button img:hover {
  cursor: pointer;
  filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.6)) !important;
}
.noteLink {
  transition: 0.2s all ease-in-out;
  position: relative;
  bottom: 0px;
}
.noteLink:hover {
  cursor: pointer;
  filter: drop-shadow(0px 2px 20px #fdb49958) !important;
  // transform: translateY(-10px);
  bottom: 5px;
}

@media (max-width: 500px) {
  .category {
    width: 100%;
  }
}