$info: #FDB399;
$light: #FBF8F0;



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background: linear-gradient(180deg, #FFE8E0 0%, rgba(255, 255, 255, 0.00) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}
#header {
    z-index: 0;
    height: 164px;
    width: 100%;
    background-image: url('../img/unsplash_fVUl6kzIvLg.jpg');
    background-size: cover;
    position: relative;
    background-position: center;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(253, 179, 153, 0.30);
        z-index: 1;
    }
}
#logo{
    max-width: 510px;
}
svg:hover {
    cursor: pointer;
}
#filterByDate:hover {
    cursor: pointer;
}    
.tag {
    background: #FB7777;
    font-size: 12px;
}
#addBtnWrap {
    position: fixed;
    right: 66px;
    bottom: 108px;
}
#addBtn {
    width: 100px;
    height: 100px;
}
.cardBody {
    height: 40px;
}